.vscode
src/.idea
src/.env.test
.env
.env.dev
docker-compose.yml
docker-compose.development.yml
database-data
temp
data/assets
data/db
development/db
src/.yarn/*
!src/.yarn/cache
!src/.yarn/patches
!src/.yarn/plugins
!src/.yarn/releases
!src/.yarn/sdks
!src/.yarn/versions