{% extends 'base.html.twig' %}

{% block body %}

    {{ include('layout/_nav.html.twig') }}

<div id="layoutSidenav">
    {{ include('layout/_sidenav.html.twig') }}

    <div id="layoutSidenav_content">
        <main class="main-content">
            <div class="container-fluid">
                {% block main_content %}{% endblock %}
            </div>
        </main>

        {{ include('layout/_footer.html.twig') }}

    </div>
</div>

{% endblock %}