{% for searchResult in searchResults %}
    <div id="{{ searchResult.id }}" class="search-result-content border-radius--top-25em border-radius--bottom-25em border--thin-gray">
        {{ include('contents/list/_content_header.html.twig', {
            content: searchResult.content,
        }) }}

        {{ include('contents/list/_content_body.html.twig', {
            content: searchResult.content,
        }) }}

        {{ include('contents/list/_content_footer.html.twig', {
            content: searchResult.content,
            postScore: searchResult.content.post.score,
            commentsCount: searchResult.content.post.comments.count,
            redditLink: searchResult.content.post.redditPostUrl,
        }) }}
    </div>
{% endfor %}
