{% extends 'layout.html.twig' %}

{% block main_content %}

    <div class="row">
        <div class="col">
            <div class="search-result-content">
                {{ component('sync_errors_management') }}
            </div>
        </div>
    </div>

{% endblock %}