{% extends 'layout.html.twig' %}

{% block main_content %}

    <div class="card mb-4">
        <div class="card-header">
            Sync Errors
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col">
                    {% if errorLogs %}
                        <table class="table table-sm table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Log ID</th>
                                <th scope="col">Log Date</th>
                                <th scope="col">URL</th>
                                <th scope="col">Error</th>
                                <th scope="col">Additional Info</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for errorLog in errorLogs %}
                                {{ include('sync-errors/row.html.twig', {
                                    errorLog: errorLog,
                                }) }}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>There are currently no sync errors 🎉</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}