<div>
    <div class="row">
        <div class="col">
            {{ include('contents/comments/_comments_threads.html.twig', {
                comments: this.comments,
            }) }}
        </div>
    </div>
</div>