.search-result-content {
    border: thin gray solid;
    border-radius: 0.25em;
    padding: 5px 15px;
    background-color: white;
    margin-bottom: 10px;
}

.search-result-content__header {
    border-bottom: thin gray solid;
    font-size: 10px;
}

.font-size--14 {
    font-size: 14px;
}

.font-size--12 {
    font-size: 12px;
}

.font-size--10 {
    font-size: 10px;
}

.padding--0 {
    padding: 0;
}

.width--100 {
    width: 100%;
}

.main-content {
    padding-top: 15px;
    padding-right: 15px;
    background-color: #343a40;
}

.search-form {
    background-color: #212529;
    padding: 20px;
}