body {
    background-color: #343a40;
}

.search-result-content {
    padding: 5px 15px;
    background-color: white;
    margin-bottom: 10px;
}

.search-result-content__header {
    border-bottom: thin gray solid;
    font-size: 10px;
}

.border-radius--top-25em {
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
}

.border-radius--bottom-25em {
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}

.border--thin-gray {
    border: thin gray solid;
}

.font-size--36 {
    font-size: 36px;
}

.font-size--24 {
    font-size: 24px;
}

.font-size--14 {
    font-size: 14px;
}

.font-size--12 {
    font-size: 12px;
}

.font-size--10 {
    font-size: 10px;
}

.padding--0 {
    padding: 0;
}

.width--100 {
    width: 100%;
}

.width--16px {
    width: 16px;
}

.main-content {
    padding-top: 15px;
    padding-right: 15px;
    background-color: #343a40;
}

.search-form {
    background-color: #212529;
    padding: 20px;
}

blockquote>p {
    color: #212529;
    border-left: 5px solid #343a40;
    padding-left: 5px
}

.md>p {
    margin: 0;
}

.color--light-gray {
    color: #abb0b5;
}

.color--white {
    color: white;
}